.StatList {
  list-style: none;
  padding: 5px;
  margin: 0 0 15px;
  background-color: rgb(158, 247, 232);
  color: rgb(49, 11, 85);
  font-size: 1.2em;
  font-weight: bold;
}

.StatListItm {
  margin-bottom: 10px;
}
